* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../bg_img.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;

}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;

}

ul li a:hover {
    background-color: #fff;
    color: black
}

ul li.active a {
    background-color: #fff;
    color: black
}

.logo img {
    float: left;
    width: 290px;
    height: auto;
}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    width: 100%;
    height: 60vh;
    padding-top: 50vh;
    text-align: center;
}

.title h1 {
    color: #fff;
    font-size: 70px;
}

button.enroll {
    padding: 10px;
    background: transparent;
    color: #fff;
    border: 1px solid #f80;
}

button.enroll:hover {
    background: #f80;
    transition: 0.6s;
}

.title2 {
    padding-top: 0%;
    width: 100%;
    height: 70vh;
    text-align: center;
    background-size: 100%;
    width: 1200px;
    background: url(../cool-bg.png);
    background-size: auto;
    background-position: center bottom;

}

.title2 h2 {
    color: #f80;
    font-size: 40px;
}

.title2 hr.ph1 {
    border: solid #f80;
    margin-top: 10px;
    width: 10%;
    size: 2px;
    text-align: center;
    margin-left: 45%;

}

.video {
    padding-top: 15px;
    padding-bottom: 40px;
}

.phil {
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

.phil p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}



.fa {
    padding-top: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.get_in_touch {
    background-color: #ffffff;
    margin-top: 20px;
    width: 1200px;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    padding: 50px 0 0;
    padding-left: 15px;
}

.get_in_touch h4 {
    color: #f80;
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 5px;
}

.get_in_touch p {
    margin: 0 !important;
    padding-top: 10px;
    font-size: 20px;
    width: 70%;
    color: black;
}

.get_in_touch hr.ph3 {
    border: solid #f80;
    size: 2px;
    width: 15%;
    text-align: left;
    margin-left: 50px;

}

.vision {
    width: 100%;
    height: auto;
    background-color: rebeccapurple;
    margin-top: 40px;
    background-position: center;
    padding: 30px 0 0;
}

.vision h2 {
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 5px;
}

.vision hr.vhr {
    border: solid #f80;
    width: 10%;
    margin-left: 530px;
    size: 2px;
    text-align: center;
    margin-bottom: 15px;
}

.vision p {
    margin: 0 !important;
    color: white;
    text-align: center;
    padding-left: 240px;
    width: 60%;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.address_section {
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, #f80, #c14ef7);
    display: flex;
    vertical-align: middle;
    padding: 30px 0 0;
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
}

.address_section .location h3 {
    width: 60%;
    font-size: 25px;
    padding-left: 25px;
}

.address_section .location p {
    width: 60%;
    font-size: 20px;
    padding-left: 25px;
    padding-bottom: 15px;
}

.address_section .contact h3 {
    width: 80%;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    padding-left: 165px;
}

.address_section .contact p {
    width: 100%;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding-left: 95px;
    padding-bottom: 15px;
}

.address_section .staffed h3 {
    width: 80%;
    text-align: right;
    vertical-align: right;
    font-size: 25px;
    padding-left: 235px;
}

.address_section .staffed p {
    width: 100%;
    font-size: 20px;
    text-align: right;
    vertical-align: right;
    padding-left: 165px;
    padding-bottom: 15px;
}

.map {
    width: 100%;
    height: auto;
    background: linear-gradient(65deg, #f80, #c14ef7);
    padding-top: 20px;
    padding-bottom: 20px;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: rgb(196, 0, 0);
    color: white;
}

.fa-linkedin {
    background: #0e76a8;
    color: white;
}

#socialmedia ul {
    width: 100%;
    margin-top: 200px;
    text-align: center;
    margin: 0 auto;
}

#socialmedia li {
    display: inline-block;
    text-align: center;
}

.copyright p {
    margin: 0;
}

.copyright p {
    padding-top: 15px;
    margin: 15px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 15px;
}

footer {
    background: #ccc;

}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;

}

footer ul li {
    margin: 10px;
}